altair
appnope
argon2-cffi
astor
attrs
backcall
backports.zoneinfo
base58
bleach
blinker
blis
breadability
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cycler
cymem
debugpy
decorator
defusedxml
docopt
emoji
entrypoints
gensim
gitdb
GitPython
htbuilder
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
iteration-utilities
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
packaging
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
preshed
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycountry
pycparser
pydantic
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
regex
requests
scikit-learn
scipy
seaborn
Send2Trash
six
smart-open
smmap
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
spacy
srsly
st-annotated-text
streamlit
sumy
terminado
testpath
text2emotion
textblob
thinc
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typer
typing-extensions
tzdata
tzlocal
urllib3
validators
wasabi
wcwidth
webencodings
widgetsnbextension
zipp
spacy-streamlit
